{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "{{versions/clojure}}"}}
 :aliases
 {:run-main {:main-opts ["-m" "{{top/ns}}.{{main/ns}}.main"]}
  :run-test {:main-opts ["-m" "kaocha.runner" "--config-file" "test/tests.edn"]
             :extra-paths ["test"]
             :extra-deps {org.clojure/test.check {:mvn/version "{{versions/test.check}}"}
                          lambdaisland/kaocha {:mvn/version "{{versions/kaocha}}"}
                          clj-fakes/clj-fakes {:mvn/version "{{versions/clj-fakes}}"}}}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "{{versions/test.check}}"}
                      lambdaisland/kaocha {:mvn/version "{{versions/kaocha}}"}
                      clj-fakes/clj-fakes {:mvn/version "{{versions/clj-fakes}}"}}}
  :build {:deps {io.github.seancorfield/build-clj
                 {:git/tag "{{versions/build-clj-tag}}" :git/sha "{{versions/build-clj-sha}}"}}
          :ns-default build}}}
